*{margin: 0; padding: 0;
    font-family:'josefin slab';
}
body{
    min-height: 100vh;
    background-color: rgb(0, 59, 49);
}
header{
    background-color: rgba(209, 120, 61, 0.95);
    width: 100%;
    height: 7vh;
    position: relative;
    position: fixed;
}
header nav ul li{
    float: left;
    list-style: none;
    margin: 20px 30px;
}
header nav ul li a{
    text-decoration: none;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.3em;
    color: rgb(0, 59, 49);
}
header nav ul li a:hover{
    color: white
}
#logo{
    width: 5%;
    height: 7vh;
    position: absolute;
    left: 92%;
}
#logo img{
    width: 100%;
    padding: 10px;
}
#inicio{
    background-color: yellow;
    width: 100%;
    height: 100vh;
    background-image: url(imagenes/chamakitos.jpg);
    display: flex;
    align-items: end;
}
#titulo{
    background-color: rgba(0, 0, 0, 0.7);
    width: 30%;
    height: 20vh;
    margin: 30px;
    text-align: center;
}
#titulo h1, #titulo h3{
    color: white;
    margin: 20px;
    letter-spacing: 4px;
    font-size: 2em;
    font-weight: 1000;
}
.reservas{
    width: 100%;
    height: 70vh;
    margin: 10px 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.info{
    color: white;
    align-self: center;
    width: 30%;
    height: 30vh;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
}
.r1{
    background-image: url(imagenes/reserva1.jpg);
}
.r2{
    background-image: url(imagenes/reserva2.jpg);
}
.r3{
    background-image: url(imagenes/reserva3.jpg);
}
.precio{
    align-self: flex-end;
    background-color: rgba(0, 0, 0, 0.7);
    width: 10%;
    height: 8vh;
    margin: 20px 40px;
    text-align: center;
    padding-top: 20px;
}
footer{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
}
.datos{
    width: 32%;
    height: 55%;
    background-color: gray;
    margin: 0 11px;
}
#maps{
    width: 80%;
    height: 40%;
    margin: 50px;
}
#maps img{
    width: 100%;
    height: 100%;
}
.datos h1{
    margin: 20px 50px;
}
#contacto h1{
    margin: 80px;
    text-align: center;
}
#integrantes{
    width: 100%;
    height: 40%;
    background-color: gray;
    display: flex;
    justify-content: space-evenly;
}
.alumnos{
    width: 20%;
    height: 100%;
    background-color: red;
}
#equipo{
    margin-left: 780px;
}
#copy{
    background-color: tan;
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
#copy a{
    text-decoration: none;
    color: black;
}
#copy div{
    width: 23%;
    height: 100%;
    display: flex;
    align-items: center;
}