*{margin: 0; padding: 0;}
body{
    min-height: 100vh;
}
header{
    background-color: red;
    width: 100%;
    height: 7vh;
    position: relative;
}
header nav ul li{
    float: left;
    list-style: none;
    margin: 20px 30px;
}
header nav ul li a{
    text-decoration: none;
}
#logo{
    background-color: aqua;
    width: 5%;
    height: 7vh;
    position: absolute;
    left: 92%;
}