*{margin: 0; padding: 0;
    font-family:'josefin slab';
}
body{
    min-height: 100vh;
    background-color: rgb(0, 59, 49);
}
header{
    background-color: rgba(0,0,0,0.8);
    width: 100%;
    height: 7vh;
    position: relative;
    position: fixed;
}
header nav ul li{
    float: left;
    list-style: none;
    margin: 20px 30px;
}
header nav ul li a{
    text-decoration: none;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.3em;
    color: white
}
header nav ul li a:hover{
    color: rgb(260, 120, 61)
}
#logo{
    width: 5%;
    height: 7vh;
    position: absolute;
    left: 92%;
}
#logo img{
    width: 100%;
    padding: 10px;
}
#inicio{
    width: 100%;
    height: 100vh;
    background-image: url(imagenes/chamakitos.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
}
#titulo{
    background-color: rgba(0, 0, 0, 0.7);
    width: 50%;
    height: 40%;
    margin: 30px;
    text-align: center;
}
#titulo h1{
    color: white;
    margin: 60px 0 20px;
    letter-spacing: 4px;
    font-size: 4em;
    padding: 20px;
}
#titulo h3{
    color: white;
    letter-spacing: 4px;
    font-size: 3em;
    padding: 20px;
}
.reservas{
    width: 100%;
    height: 70vh;
    margin: 10px 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.info{
    color: white;
    align-self: center;
    width: 30%;
    height: 30vh;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
}
.info h1, .info h2, .info h3{
    text-align: center;
    line-height: 40px;
    margin: 20px;
}
.info h1{
    font-size: 2em;
}
.info h2{
    font-size: 1.7em;
}
.info h3{
    font-size: 1.3em;
    line-height: 30px;
}
.i2 h1{
    font-size: 2em;
}
.i2 h2{
    font-size: 1.7em;
}
.i3 h3{
    font-size: 1.3em;
}
.i2 h1, .i2 h2, .i2 h3{
    margin: 10px;
}
.r1{
    background-image: url(imagenes/reserva1.jpg);
}
.r2{
    background-image: url(imagenes/reserva2.jpg);
}
.r3{
    background-image: url(imagenes/reserva3.jpg);
}
.precio{
    align-self: flex-end;
    background-color: rgba(0, 0, 0, 0.7);
    width: 15%;
    height: 15%;
    margin: 20px 40px;
    text-align: center;
}
.precio h1, .precio a{
    font-family: 'preahvihear';
    font-weight: bold;
    color: white;
    margin: 8px;
}
.precio a{
    text-decoration: none;
    font-size: 1.5em;
    font-family: 'Times New Roman', Times, serif
}
.precio a:hover{
    color: rgb(260, 120, 61);
}
footer{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
}
.datos{
    width: 32%;
    height: 55%;
    margin: 0 11px;
    border-right: 2px solid rgb(260, 120, 61);
    border-bottom: 2px solid rgb(260, 120, 61);
    box-sizing: border-box;
}
#pago{
    border-right: none;
}
#maps{
    width: 80%;
    height: 40%;
    margin: 50px;
}
#maps img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.datos h1{
    margin: 20px 50px;
    color: white;
    text-align: center;
    line-height: 50px;
}
#whatsapp{
    color: white;
    margin: 0 265px;
    font-size: 6em;
}
#whatsapp:hover{
    color: rgb(260, 120, 61);
}
#integrantes{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: space-evenly;
}
.alumnos{
    width: 20%;
    height: 100%;
}
#equipo{
    margin: 10px 0 30px 780px;
    color: white;
}
.alumnos{
    padding-left: 75px;
}
.foto{
    background-color: white;
    width: 80%;
    height: 80%;
}
.texto{
    width: 80%;
    height: 25%;
    text-align: center;
    padding-top: 10px;
    color: white;
}
.texto:hover{
    color: rgb(260, 120, 61);
}
.texto h1{
    font-size: 1.8em
}
.texto h2{
    font-size: 1.3em; 
}
#copy{
    background-color: rgb(170, 145, 112);
    width: 100%;
    height: 5vh;
    margin: 10px 0;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
#copy a{
    text-decoration: none;
    color: black;
}
#copy div{
    width: 23%;
    height: 100%;
    display: flex;
    align-items: center;
}