*{margin: 0; padding: 0;}
body{
    min-height: 100vh;
}
header{
    background-color: rgba(255, 0, 0, 0.8);
    width: 100%;
    height: 7vh;
    position: relative;
    position: fixed;
}
header nav ul li{
    float: left;
    list-style: none;
    margin: 20px 30px;
}
header nav ul li a{
    text-decoration: none;
    color: black;
}
#logo{
    background-color: aqua;
    width: 5%;
    height: 7vh;
    position: absolute;
    left: 92%;
}
#inicio{
    background-color: yellow;
    width: 100%;
    height: 100vh;
    background-image: url(imagenes/chamakitos.jpg);
    display: flex;
    align-items: end;
}
#titulo{
    background-color: rgba(0, 0, 0, 0.7);
    width: 30%;
    height: 20vh;
    margin: 30px;
    text-align: center;
}
#titulo h1, #titulo h3{
    color: white;
    margin: 25px;
}
.reservas{
    width: 100%;
    height: 70vh;
    margin: 10px 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.info{
    color: white;
    align-self: center;
    width: 30%;
    height: 30vh;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
}
.r1{
    background-image: url(imagenes/reserva1.jpg);
}
.precio{
    align-self: flex-end;
    background-color: rgba(0, 0, 0, 0.7);
    width: 10%;
    height: 8vh;
    margin: 20px 40px;
}